.container {
  margin: 0 auto 180px;
  padding: 0;
  max-width: 1560px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sliderContainer {
  margin: 0;
  padding: 0;
  max-width: 1296px;
  width: 100%;
  display: flex;
  column-gap: 24px;
  overflow-x: scroll;
}
